@import url('https://fonts.googleapis.com/css2?family=Gveret+Levin&display=swap');

.hero {
  min-height: 100vh;
}

.cloud-1{
  animation: heroCloudAnimation ease-in-out infinite 10s ;
}

.cloud-2{
  animation: heroCloudAnimation2 ease-in-out infinite 10s ;
}

.font-gveret{
  font-family: "Gveret Levin", cursive;
  font-weight: 500;
  font-style: normal;
}

@keyframes heroCloudAnimation{
  0%{
    transform: translateX(0);
  }50%{
    transform: translateX(-20%);
  }100%{
    transform: translateX(0);
  }
}
@keyframes heroCloudAnimation2{
  0%{
    transform: translateX(0);
  }50%{
    transform: translateX(20%);
  }100%{
    transform: translateX(0);
  }
}